.container{width:960px;margin:0 auto;position:relative;}
body{background:#eee;color:#555;line-height:1.4;}
.branding{background:rgba(255, 255, 255, 0.86) url(../assets/images/flag.png) no-repeat 50% 0;}
